[Unit]
Description=QuadRF PhaseGaze
Wants=load-quadrf.service
After=load-quadrf.service

[Service]
Type=simple
# User, Group and HOME come from /etc/systemd/system/quadrf-phasegaze.service.d/
User=root
WorkingDirectory=/var/lib/quadrf/demos
ExecStart=/usr/bin/quadrf-phasegaze --port 8001 --web /usr/share/quadrf/phasegaze
KillMode=control-group
KillSignal=SIGINT
TimeoutStopSec=5
Restart=no

[Install]
WantedBy=multi-user.target
